

.jumbotron h2,.jumbotron small {
  padding-top: 30px;
  padding-bottom: 30px;
 


  
}
.jumbotron h2,
 {
  font-size: 30px;
  font-style: italic;
}

.jumbotron h2, .jumbotron small, .jumbotron p{
	
	font-weight: bold;
	

}

.jumbotron h2 , .jumbotron h3{

	text-align : center;

}

p{
	background-color: transparent;


}


p{

	padding-left : 35px;
	padding-top: 30px;
	padding-right: 25px;
	padding-bottom: 35px;
	  font: normal 14px/1.618em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
	

}
.social { width:auto;  overflow:hidden; margin:0px; padding:0px;}
.social ul{ margin:0px !important;}
.social ul li{ list-style:none; float:left; padding-left: 10px; padding-right:20px;}




.bg:after{

	    content: "";
        background: url(https://dig8.files.wordpress.com/2013/01/arch-purple.jpg);
        background-repeat:repeat;
        background-position:center;
        background-attachment:fixed;
        background-size:cover;
        opacity: 0.18;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; 

}
.bg a{
	color: #20B2AA ;
}


.page-header{
	height:25em;
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    width: 100%;
}
.media-body h1{
	padding-top:10%;
	color:black;
	font-size: 5em;
	padding-top
	text-align: center;
}
.navbar-nav{
	background-color:black;
	width: 100%;
}
.navbar-nav a{
	color: #20B2AA;
}
footer p{
	text-align:center;
	color: #20B2AA ;
}
