.page-header{
	height:25em;
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    width: 100%;
}
.media-body h1{
	padding-top:10%;
	color:black;
	font-size: 5em;
	padding-top
	text-align: center;
}
.navbar-nav{
	background-color:black;
	width: 100%;
}